.Container {
  width: 100%;
  height: 5rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--gray-divider);
}

.Content {
  align-items: center;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  img {
    margin-right: 5.1775rem;
  }

  ul {
    display: flex;
  }

  li {
    color: var(--titles);
    font-size: 1rem;
    line-height: 1.171875rem;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    transition: filter 0.2s;
    position: relative;
    height: 5rem;
    line-height: 5rem;

    & + li {
      margin-left: 1.171875rem;
    }

    &.active {
      color: white;
      font-weight: bold;

      &::after {
        content: '';
        height: 3px;
        border-radius: 3px;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow);
      }
    }

    &:hover {
      color: var(--yellow);
      filter: brightness(0.9);
    }
  }

  button {
    margin-left: auto;
  }
}
